
* {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

h1 {
    text-align: center;
    color: bisque;
    font-size: 4em;
}

.preamble {
    background-color: rgb(226, 132, 189);
    padding: 0.5em;
    margin: 0.5em;
}
.p-title {
    background-color: rgb(226, 132, 189);
    padding: 0.1em;
    margin: 0.5em;
}
.quote .quote-text {
    background-color: rgb(226, 132, 189);
    border: solid rgb(226, 90, 135) 0.2em;
    padding: 0.5em;
    margin: 0.5em;
}

.quote {
    background-color: rgb(221, 110, 147);
    border: solid rgb(202, 56, 105) 0.2em;
    padding: 0.1em;
    margin: 0.5em;
}

.source {
    background-color: bisque;
    border: solid rgb(225, 178, 120) 0.2em;
    font-style: italic;
    padding: 0.1em;
    margin: 0.5em;
}
.source-source {
    background-color: bisque;
    font-style: normal;
    font-weight: 900;
    padding: 0.1em;
    margin: 0.1em;
}
.author {
    background-color: rgb(225, 247, 126);
    border: solid rgb(199, 156, 104) 0.2em;
    font-style: italic;
    padding: 0.1em;
    margin: 0.5em;
}

.tag-author {
    background-color: rgb(225, 247, 126);
    font-style: normal;
    font-weight: 900;
    padding: 0.1em;
    margin: 0.1em;
}
.link {
    background-color: rgb(126, 247, 176);
    border: solid rgb(199, 156, 104) 0.2em;
    font-style: italic;
    padding: 0.1em;
    margin: 0.5em;
}
.tag-link {
    background-color: rgb(126, 247, 176);
    font-style: normal;
    font-weight: 900;
    padding: 0.1em;
    margin: 0.1em;
}
.tag-link-href {
    background-color: rgb(126, 247, 176);
    font-weight: 900;
    padding: 0.1em;
    margin: 0.1em;
}
.note {
    background-color: rgb(199, 103, 135);
    font-style: italic;
    padding: 0.1em;
    margin: 0.5em;
}

